<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="center" id="center">
            <div class="item" onclick="renderpage('recrutement')" id="recru">
                <img src="../icons/recru.png" alt="" srcset="">         
            </div>
            <div class="box arrow-right" id="recrutement">
                <h4>Recrutement</h4>
               <p> This is a box with some content and an arrow on the ri</p>
            </div> 
              
            <div class="item">
                <img src="../icons/personnel.png" alt="" srcset="">
                <p>Recrutement</p>
            </div>
            <div class="item">
                <img src="../icons/conge.png" alt="" srcset="">
            </div>
            <div class="item">
                <img src="../icons/carriere_.png" alt="" srcset="">
            </div>
            <div class="item">
                <img src="../icons/user_h.png" alt="" srcset="">
            </div>
            <div class="item">
                    <img src="../icons/abscence.png" alt="" srcset="">
            </div>
            <div class="item">
                    <img src="../icons/note.png" alt="" srcset="">
            </div>
            <div class="item">
                    <img src="../icons/archive.png" alt="" srcset="">
            </div>
            <div class="item">
                    <img src="../icons/paie.png" alt="" srcset="">
            </div>
            <div class="item">
                    <img src="../icons/plan.png" alt="" srcset="">
            </div>
            <div class="item">
                    <img src="../icons/formation.png" alt="" srcset="">
            </div>
            <div class="item" onclick="renderpage('settings')" id="settings">
                 <img src="../icons/set.jpg" alt="" srcset="">
            </div>
              
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>