<div class="menu-theme">
    <div class="menu-theme-body">
        <ul>
            <li onclick="renderpage('dashboard')"> <span class="fa fa-dashboard"></span> Dashboard</li>
            <li> <span class="fa fa-dashboard"></span> Candidates</li>
            <li onclick="showInfo('modal')"> <span class="fa fa-plus-circle "></span> new Candidate</li>
            <li> <span class="fa fa-dashboard"></span> Dashboard</li>
            <li onclick="showInfo('personal')"> <span class="fa fa-plus-circle"></span> To personal</li>
            <li> <span class="fa fa-dashboard"></span> Dashboard</li>
        </ul>
    </div>
	<div class="footer">
        <p>Coopyright&copy;BoopySoft Inc.</p>
    </div>
</div>