<div class="modal " id="personalSettings" style="display: block">
    <div class="modashow animated-to" style="width: 50%;">
        <div class="head-data">
            <h4>Setup new personal</h4>
            <span class="fa fa-close close" id="close" onclick="hideElement('personalSettings')"></span>
        </div>
        <div class="modalBody" style="padding: 0">
           <form action="/candidate/push" method="post" class="custom-form" id="form">
               <div class="headPage" style="padding: 0px;">
                    <div class="block" style="border-left: transparent;margin-left: 1px;" id="identity"><h4>Identity</h4> </div>
                    <div class="block" id="departement"><h4>Departement</h4> </div>
                    <div class="block" id="contrat"><h4>Contract</h4> </div>
                    <div class="block" id="profile"><h4>Profile</h4> </div>
                    <div class="block" id="access"><h4>access</h4> </div>
               </div>
               <div class="mainbody" id="itemShow">
                  <div class="contents" style="padding: 10px;" id="identity">
                        <div class="inputform2">
                                <span class="fa fa-user"></span>
                                <input type="text" name="first" id="first"  placeholder="first name" required>
                         </div>
                        <div class="inputform2">
                                 <span class="fa fa-user"></span>
                                 <input type="text" name="last" id="last" placeholder="lastname" required>
                        </div>
                        <div class="inputform2">
                                <span class="fa fa-user"></span>
                                <input type="text" name="first" id="first"  placeholder="first name" required>
                         </div>
                        <div class="inputform2">
                                 <span class="fa fa-user"></span>
                                 <input type="text" name="last" id="last" placeholder="lastname" required>
                        </div>
                        <div class="inputform2">
                                <span class="fa fa-user"></span>
                                <input type="text" name="first" id="first"  placeholder="first name" required>
                         </div>
                        <div class="inputform2">
                                 <span class="fa fa-user"></span>
                                 <input type="text" name="last" id="last" placeholder="lastname" required>
                        </div>
                        <div class="inputform2">
                                <span class="fa fa-user"></span>
                                <input type="text" name="first" id="first"  placeholder="first name" required>
                         </div>
                        <div class="inputform2">
                                 <span class="fa fa-user"></span>
                                 <input type="text" name="last" id="last" placeholder="lastname" required>
                        </div>
                        <div class="inputform2">
                                <span class="fa fa-user"></span>
                                <input type="text" name="first" id="first"  placeholder="first name" required>
                         </div>
                        <div class="inputform2">
                                 <span class="fa fa-user"></span>
                                 <input type="text" name="last" id="last" placeholder="lastname" required>
                        </div>
                        <div class="inputform2">
                                <span class="fa fa-user"></span>
                                <input type="text" name="first" id="first"  placeholder="first name" required>
                         </div>
                        <div class="inputform2">
                                 <span class="fa fa-user"></span>
                                 <input type="text" name="last" id="last" placeholder="lastname" required>
                        </div>

                        
                 
               </div>
               <div style="border-top: 1px solid rgb(234,234,234);padding: 10px 15px;">
                    <div class="inputform" style="border: none">
                        <button type="button" id="imageBtn" class="bg-green"><span class="fa fa-image" style="color: #fff;"></span>Select an image</button>
                        <input type="file" name="last"  placeholder="lastname" hidden id="imageInput">
                        <div class="imageInfo">
                            <p id="downloadedFile">No file chose</p>
                        </div>
                   </div>
                   <input type="submit" class="submit bg-blue">
               </div>
            </div>
           </form>
        </div>
    </div>
</div>